.main {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  /* padding-bottom: 40px; */
}

.loader {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
