.main {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.loader {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
