.feedOrders {
  max-width: 600px;
  width: 100%;
}

.feedOrdersSecondary {
  max-width: 812px;
  width: 100%;
}

.feedList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: 8px;
  max-height: 852px;
}

/*------ Тут настройки скролл-бара ---------*/

.feedList::-webkit-scrollbar {
  width: 8px;
  height: 812px;
}

.feedList::-webkit-scrollbar-thumb {
  height: 640px;
  background: #8585ad;
}

.feedList::-webkit-scrollbar-track {
  height: 812px;
  background: #2f2f37;
}
