.card {
  background: #1c1c21;
  max-width: 536px;
  max-height: 166px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06),
    0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  list-style: none;
  padding: 24px;
  cursor: pointer;
}

/*Тут стили для широкого формана карточек*/
.cardSecondary {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06),
    0 0 1px rgba(0, 0, 0, 0.04);
  background: #1c1c21;
  max-width: 749px;
  max-height: 198px;
  border-radius: 40px;
  list-style: none;
  padding: 24px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}

.containerBottom {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.ingredientsIcons {
  width: 436px;
  padding: 0;
}

.containerPrice {
  display: flex;
  width: 76px;
  gap: 10px;
  padding: 20px 0 20px 0;
}
