.section {
  max-width: 600px;
  width: 100%;
}

.title {
  margin: 40px 0 20px 0;
}

.tabContainer {
  display: flex;
}

.ingredientsContainer {
  overflow-y: scroll;
  scrollbar-width: 8px;
  margin-top: 40px;
  max-height: 716px;
}

/*------ Тут настройки скролл-бара ---------*/

.ingredientsContainer::-webkit-scrollbar {
  width: 8px;
  height: 664px;
}

.ingredientsContainer::-webkit-scrollbar-thumb {
  height: 492px;
  background: #8585ad;
}

.ingredientsContainer::-webkit-scrollbar-track {
  height: 664px;
  background: #2f2f37;
}
